.modal-fullscreen {
    height: 100vh;
    /* Full height */
    width: 100vw;
    /* Full width */
}

.modal-fullscreen .modal-body {
    padding: 0;
    /* No padding */
}

.modal-fullscreen .player {
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    object-fit: cover;
    /* Cover the area without stretching */
}

.responsive-img {
    max-width: 100%;
    height: auto;
}

.image-height {
    height: 200px; /* Set a fixed height for both images */
    object-fit: cover; /* Ensures images maintain aspect ratio and cover the area */
    width: 100%; /* Makes images responsive */
}