{% load static %}
<section class="wrapper !bg-[#ffffff]">
  <div class="container py-5 xl:!py-[5rem] lg:!py-[5rem] md:!py-[5rem]">
    <div class="flex flex-wrap mx-[-15px] items-start ">
      <div class="xl:w-5/12 lg:w-5/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:!sticky lg:!sticky mt-[50px]" style="top: 8rem;">
        <h3 class="text-[calc(1.345rem_+_1.14vw)] !leading-[1.2] xl:text-[2.2rem] mb-5">Our Story: Bridging Innovation and Infrastructure</h3>
        <p class="!mb-7">Founded in 2021, Netcon Enterprise Private Limited has rapidly emerged as a formidable leader in the manufacturing of UPS systems, control cables, networking cables, network racks, IP enclosures, and security systems</p>
        <a href="#" class="btn btn-lg btn-navy text-white !bg-[#343f52] border-[#343f52] hover:text-white hover:bg-[#343f52] hover:border-[#343f52] focus:shadow-[rgba(82,92,108,1)] active:text-white active:bg-[#343f52] active:border-[#343f52] disabled:text-white disabled:bg-[#343f52] disabled:border-[#343f52] btn-icon btn-icon-end">More Details <i class="uil uil-arrow-up-right ml-[.3rem] before:content-['\e950']"></i></a>
      </div>
      <!-- /column -->
      <div class="xl:w-6/12 lg:w-6/12 w-full flex-[0_0_auto] px-[15px] max-w-full ml-auto mt-[50px]">
        <div class="card !bg-[#fdf1f8] !mb-6">
          <div class="card-body flex flex-row p-[40px]">
            <div>
              <img src="{% static 'img/icons/lineal/search-2.svg' %}" class="svg-inject icon-svg icon-svg-md !w-[2.6rem] !h-[2.6rem] text-[#e668b3] text-fuchsia mr-5" alt="image" />
            </div>
            <div>
              <h3 class="text-[1.05rem] mb-2">Our Vision</h3>
              <p class="!mb-0">Our vision is to be a global leader in power and connectivity solutions, continuously evolving our products to meet the dynamic needs of the industry and drive innovation and growth</p>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="card !bg-[#eff7fa] !mb-6">
          <div class="card-body flex flex-row p-[40px]">
            <div>
              <img src="{% static 'img/icons/lineal/puzzle-2.svg' %}" class="svg-inject icon-svg icon-svg-md !w-[2.6rem] !h-[2.6rem] text-[#54a8c7] text-aqua mr-5" alt="image" />
            </div>
            <div>
              <h3 class="text-[1.05rem] mb-2">Our Mission</h3>
              <p class="!mb-0">Delivering innovative power and connectivity solutions that improve efficiency, reliability, and performance, setting industry standards through excellence and technology</p>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <div class="card !bg-[#fff8ee] !mb-6">
          <div class="card-body flex flex-row p-[40px]">
            <div>
              <img src="{% static 'img/icons/lineal/smartphone.svg' %}" class="svg-inject icon-svg icon-svg-md !w-[2.6rem] !h-[2.6rem] text-[#fab758] text-yellow mr-5" alt="image" />
            </div>
            <div>
              <h3 class="text-[1.05rem] mb-2">Why NetCon</h3>
              <p class="!mb-0">Quality is at the core of our operations. We employ rigorous controls and advanced manufacturing to exceed customer expectations, adhering to global standards and certifications</p>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
      
        <!-- /.card -->
      </div>
      <!-- /column -->
    </div>
    <!-- /.row -->

    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
