{% load static %}
<div class="container mt-10">
  <div class="flex flex-wrap mx-[-15px]">
    <div class="md:w-11/12 lg:w-8/12 xl:w-7/12 xxl:w-6/12 w-full flex-[0_0_auto] px-[15px] max-w-full !mx-auto !text-center">
      <h2 class="text-[calc(1.345rem_+_1.14vw)] font-bold leading-[1.2] xl:text-[2.2rem] mb-4">
        The extensive range of
        <span class="rotator-fade text-[#1da44c]">products we deliver...,solutions we deliver...</span>
      </h2>
      <p class="lead !text-[1.05rem] !leading-[1.55] !font-normal mb-12">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nobis iste, temporibus quasi voluptatum</p>
    </div>
  </div>

  <section class="bg-white">
    <div class="flex flex-wrap mx-[-15px] xl:mx-[-10px] lg:mx-[-10px] md:mx-[-10px] mt-[-20px]">
      <div class="xl:w-4/12 lg:w-4/12 md:w-4/12 flex-[0_0_auto] xl:px-[10px] lg:px-[10px] md:px-[10px] px-[12px] max-w-full mt-[20px]">
        <figure class="overlay overlay-2 hover-scale color rounded group">
          <a class="!relative block z-[3] cursor-pointer inset-0" href="#">
            <img loading="lazy" src="{% static 'products/cable.jpg' %}" alt="cable" class="rounded-[0.4rem] responsive-img" /></a>
          <figcaption class="group-hover:opacity-100 absolute w-full h-full opacity-0 text-center px-2 py-2 inset-0 z-[5] pointer-events-none p-1">
            <h5 class="from-top !mb-1">Cable</h5>
            <p class="from-bottom">Click to view more</p>
          </figcaption>
        </figure>
      </div>

      <div class="xl:w-4/12 lg:w-4/12 md:w-4/12 flex-[0_0_auto] xl:px-[10px] lg:px-[10px] md:px-[10px] px-[12px] max-w-full mt-[20px]">
        <figure class="overlay overlay-2 hover-scale color rounded group">
          <a class="!relative block z-[3] cursor-pointer inset-0" href="#">
            <img loading="lazy" src="{% static 'products/cable.jpg' %}" alt="cable" class="rounded-[0.4rem] responsive-img" /></a>
          <figcaption class="group-hover:opacity-100 absolute w-full h-full opacity-0 text-center px-2 py-2 inset-0 z-[5] pointer-events-none p-1">
            <h5 class="from-top !mb-1">Cable</h5>
            <p class="from-bottom">Click to view more</p>
          </figcaption>
        </figure>
      </div>

      <div class="xl:w-4/12 lg:w-4/12 md:w-4/12 flex-[0_0_auto] xl:px-[10px] lg:px-[10px] md:px-[10px] px-[12px] max-w-full mt-[20px]">
        <figure class="overlay overlay-2 hover-scale color rounded group">
          <a class="!relative block z-[3] cursor-pointer inset-0" href="#">
            <img loading="lazy" src="{% static 'products/cable.jpg' %}" alt="cable" class="rounded-[0.4rem] responsive-img" /></a>
          <figcaption class="group-hover:opacity-100 absolute w-full h-full opacity-0 text-center px-2 py-2 inset-0 z-[5] pointer-events-none p-1">
            <h5 class="from-top !mb-1">Cable</h5>
            <p class="from-bottom">Click to view more</p>
          </figcaption>
        </figure>
      </div>
      <div class="xl:w-4/12 lg:w-4/12 md:w-4/12 flex-[0_0_auto] xl:px-[10px] lg:px-[10px] md:px-[10px] px-[12px] max-w-full mt-[20px]">
        <figure class="overlay overlay-2 hover-scale color rounded group">
          <a class="!relative block z-[3] cursor-pointer inset-0" href="#">
            <img loading="lazy" src="{% static 'products/cable2.jpg' %}" alt="cable" class="rounded-[0.4rem] responsive-img" /></a>
          <figcaption class="group-hover:opacity-100 absolute w-full h-full opacity-0 text-center px-2 py-2 inset-0 z-[5] pointer-events-none p-1">
            <h5 class="from-top !mb-1">Cable</h5>
            <p class="from-bottom">Click to view more</p>
          </figcaption>
        </figure>
      </div>
      <div class="xl:w-4/12 lg:w-4/12 md:w-4/12 flex-[0_0_auto] xl:px-[10px] lg:px-[10px] md:px-[10px] px-[12px] max-w-full mt-[20px]">
        <figure class="overlay overlay-2 hover-scale color rounded group">
          <a class="!relative block z-[3] cursor-pointer inset-0" href="#">
            <img loading="lazy" src="{% static 'products/cable2.jpg' %}" alt="cable" class="rounded-[0.4rem] responsive-img" /></a>
          <figcaption class="group-hover:opacity-100 absolute w-full h-full opacity-0 text-center px-2 py-2 inset-0 z-[5] pointer-events-none p-1">
            <h5 class="from-top !mb-1">Cable</h5>
            <p class="from-bottom">Click to view more</p>
          </figcaption>
        </figure>
      </div>
      <div class="xl:w-4/12 lg:w-4/12 md:w-4/12 flex-[0_0_auto] xl:px-[10px] lg:px-[10px] md:px-[10px] px-[12px] max-w-full mt-[20px]">
        <figure class="overlay overlay-2 hover-scale color rounded group">
          <a class="!relative block z-[3] cursor-pointer inset-0" href="#">
            <img loading="lazy" src="{% static 'products/cable2.jpg' %}" alt="cable" class="rounded-[0.4rem] responsive-img" /></a>
          <figcaption class="group-hover:opacity-100 absolute w-full h-full opacity-0 text-center px-2 py-2 inset-0 z-[5] pointer-events-none p-1">
            <h5 class="from-top !mb-1">Cable</h5>
            <p class="from-bottom">Click to view more</p>
          </figcaption>
        </figure>
      </div>
    </div>
  </section>
</div>

<style>
  .responsive-img {
    max-width: 100%;
    height: auto;
  }
</style>
