{% load static %}
<div class="swiper-container dots-over mt-[-2rem]" data-autoplay="true" data-autoplaytime="2000" data-margin="5" data-dots="true" data-nav="true" data-autoheight="true">
  <div class="swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide bg-overlay bg-overlay-400 rounded">
        <figure class="rounded-[0.4rem] relative z-[2]">
          <img class="rounded-[0.4rem]" src="{% static 'img/control.jpg' %}" srcset="{% static 'img/control.jpg' %} 2x" alt="image" />
        </figure>

        <!-- /.caption-wrapper -->
      </div>
      <!-- /.swiper-slide -->
      <div class="swiper-slide bg-overlay bg-overlay-400 rounded">
        <figure class="rounded-[0.4rem] relative z-[2]">
          <img class="rounded-[0.4rem]" src="{% static 'img/control.jpg' %}" srcset="{% static 'img/control.jpg' %} 2x" alt="image" />
        </figure>

        <!-- /.caption-wrapper -->
      </div>
      <!-- /.swiper-slide -->
      <div class="swiper-slide bg-overlay bg-overlay-400 rounded">
        <figure class="rounded-[0.4rem] relative z-[2]">
          <img class="rounded-[0.4rem]" src="{% static 'img/control.jpg' %}" srcset="{% static 'img/control.jpg' %} 2x" alt="image" />
        </figure>

        <!-- /.caption-wrapper -->
      </div>
    </div>
    <!-- /.swiper-wrapper -->
  </div>
  <!-- /.swiper -->
</div>
<!-- /.swiper-container -->
