{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Netcon, UPS, Control cable" />
    <meta name="keywords" content="Netcon" />
    <meta name="author" content="netcon" />
    <title>Netcon</title>
    <!-- google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Manrope:wght@400;500;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="logos/favicon.png" />
    <link rel="stylesheet" href="{% static 'css/plugins.css' %}" />
    <link rel="stylesheet" href="{% static 'fonts/unicons/unicons.css' %}" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/custom.css' %}" />
    <link rel="stylesheet" href="{% static 'css/grape.css' %}" />
    <link rel="preload" href="{% static 'css/space.css' %}" as="style" onload="this.rel='stylesheet'" />
    <style>
      .swiper-container.nav-color .swiper-button,
      .swiper-container.nav-color .swiper-slide figure .item-link {
        background: #605dbae6 !important;
        color: #fff !important;
      }
      
      .swiper-container.nav-color .swiper-button:hover,
      .swiper-container.nav-color .swiper-slide figure .item-link:hover {
        background: #605dba !important;
      }
      
      @media (max-width: 991.98px) {
        .navbar-expand-lg .navbar-collapse .dropdown-toggle:after {
          color: #ffffff !important;
        }
      }
    </style>
  </head>

  <body>
    <div class="grow shrink-0">
      <header class="!absolute w-full">
        {% include 'header.html' %}
      </header>
      <!-- /header -->
   
        {% block body %}
        {% endblock %}
      </section>
      <!-- /section -->

      <!-- OTHER -->
      <!-- /section -->

      <!-- /section -->

      <footer class="!bg-[#21262c] shrink-0 mt-5">
        <div class="container py-16 xl:!py-20 lg:!py-20 md:!py-20">
          <div class="flex flex-wrap mx-[-15px] mt-[-30px] xl:mt-0 lg:mt-0">
            <div class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
              <div class="widget text-[#cacaca]">
                <img loading="lazy" class="!mb-4" src="{%  static 'logos/favicon.png' %}" srcset="assets/logos/favicon.png 2x" width="45" alt="image" />
                <p class="!mb-4">
                  © 2021 Netcon. <br class="hidden xl:block lg:block text-[#cacaca]" />All rights reserved.
                </p>

                <!-- /.social -->
              </div>
              <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
              <div class="widget text-[#cacaca]">
                <h4 class="widget-title text-white !mb-3">Get in Touch</h4>
                <address class="xl:pr-20 xxl:!pr-28 not-italic leading-[inherit] block mb-4">Chennai, Tamil Nadu, India</address>
                <a class="text-[#cacaca] hover:text-[#3f78e0]" href="mailto:#">info@cieso.in</a><br /> 00 (91) 9567 9495 26
              </div>
              <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="md:w-4/12 xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
              <div class="widget text-[#cacaca]">
                <h4 class="widget-title text-white !mb-3">Learn More</h4>
                <ul class="pl-0 list-none !mb-0">
                  <li>
                    <a class="text-[#cacaca] hover:text-[#3f78e0]" href="#">About Us</a>
                  </li>
                  <li class="mt-[0.35rem]">
                    <a class="text-[#cacaca] hover:text-[#3f78e0]" href="#">Our Story</a>
                  </li>
                  <li class="mt-[0.35rem]">
                    <a class="text-[#cacaca] hover:text-[#3f78e0]" href="#">Projects</a>
                  </li>
                  <li class="mt-[0.35rem]">
                    <a class="text-[#cacaca] hover:text-[#3f78e0]" href="#">Terms of Use</a>
                  </li>
                </ul>
              </div>
              <!-- /.widget -->
            </div>
            <!-- /column -->
            <div class="md:w-full xl:w-3/12 lg:w-3/12 w-full flex-[0_0_auto] px-[15px] max-w-full xl:mt-0 lg:mt-0 mt-[30px]">
              <div class="widget text-[#cacaca]">
                <h4 class="widget-title text-white !mb-3">Connect With Us</h4>
                <nav class="nav social social-white">
                  <a class="text-[#cacaca] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]" href="#"><i class="uil uil-twitter before:content-['\ed59'] !text-white text-[1rem]"></i></a>
                  <a class="text-[#cacaca] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]" href="#"><i class="uil uil-facebook-f before:content-['\eae2'] !text-white text-[1rem]"></i></a>
                  <a class="text-[#cacaca] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]" href="#"><i class="uil uil-dribbble before:content-['\eaa2'] !text-white text-[1rem]"></i></a>
                  <a class="text-[#cacaca] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]" href="#"><i class="uil uil-instagram before:content-['\eb9c'] !text-white text-[1rem]"></i></a>
                  <a class="text-[#cacaca] text-[1rem] transition-all duration-[0.2s] ease-in-out translate-y-0 motion-reduce:transition-none hover:translate-y-[-0.15rem] m-[0_.7rem_0_0]" href="#"><i class="uil uil-youtube before:content-['\edb5'] !text-white text-[1rem]"></i></a>
                </nav>
                <!-- /.newsletter-wrapper -->
              </div>
              <!-- /.widget -->
            </div>
            <!-- /column -->
          </div>
          <!-- /.row -->
        </div>
        <!-- /.container -->
      </footer>
    </div>
    <!-- /.content-wrapper -->
    <!-- FOOTER -->



    <!-- progress wrapper -->
    <div class="progress-wrap fixed w-[2.3rem] h-[2.3rem] cursor-pointer block shadow-[inset_0_0_0_0.1rem_rgba(128,130,134,0.25)] z-[1010] opacity-0 invisible translate-y-3 transition-all duration-[0.2s] ease-[linear,margin-right] delay-[0s] rounded-[100%] right-6 bottom-6 motion-reduce:transition-none after:absolute after:content-['\e951'] after:text-center after:leading-[2.3rem] after:text-[1.2rem] after:text-[#605dba] after:h-[2.3rem] after:w-[2.3rem] after:cursor-pointer after:block after:z-[1] after:transition-all after:duration-[0.2s] after:ease-linear after:left-0 after:top-0 motion-reduce:after:transition-none after:font-Unicons">
      <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
        <path class="fill-none stroke-[#605dba] stroke-[4] box-border transition-all duration-[0.2s] ease-linear motion-reduce:transition-none" d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" />
      </svg>
    </div>

    <script src="{% static 'js/plugins.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/framer-motion.min.js' %}"></script>
  </body>
</html>
